{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hooray!</h1>
    <h2> You finished the form and can relax!</h2>
    <p>
        Here is your payment id: <strong>{{ summary.paymentDataId }}</strong>
    </p>
{% endblock %}